.slider {
	background-color: #fff;
	@extend %frame;
	.bx-wrapper {
		position: relative;
		.bx-prev,
		.bx-next {
			position: absolute;
			top: 50%;
			z-index: 51;
			margin-top: - (68px / 2);
			width: 68px;
			height: 68px;
			background: transparent url('./assets/img/arrows.png') 0 0 no-repeat;
			@include transition(margin 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750));
		}
		.bx-prev {
			left: 0;
			background-position: 0 0;
			&:hover {
				margin-left: -4px;
			}
		}
		.bx-next {
			right: 0;
			background-position: 0 -68px;
			&:hover {
				margin-right: -4px;
			}
		}
	}
}