@mixin genericon-rules {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: middle;
}

@mixin respond-to($device) {
	
	@if ($device == "tablet") {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}
	
	@else if ($device == "desktop") {
		@media only screen and (min-width: 980px) {
			@content;
		}
	}
}

@mixin frame {
	border: 10px solid #fff;
	@include box-shadow(0 0 4px rgba(88,88,88,.25));
}